@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');
@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import 'angled-edges';

body {
  font-family: 'Assistant', sans-serif;
  @apply text-brand-black;
}

a {
  @apply text-brand-blue font-bold no-underline;
}

a:hover, a:focus {
  @apply underline;
}

.container {
  // outline: 1px dashed red;
}

.hero {
  @apply bg-brand-blue text-white text-center;
  @include angle-edge($angle: 9.5, $angle-position-y: 'bottom', $angle-position-x: 'right', $angle-position-bottom-x: 'left');
  width: 100%;
  padding-bottom: 2.5%;
  &__logo {
    width: 100%;
    min-height: 12.5rem;
  }
}

.btn {
  &, a.btn {
    @apply my-8 inline-block no-underline text-white font-bold py-2 px-4 text-2xl;
    background: {
      image: linear-gradient(12deg, rgba(#00A4D4, 50%), rgba(#00A4D4, 100%) 50%, rgba(#00A4D4, 50%));
      position: top left;
      attachment: fixed;
    }
    border-radius: 1.75rem;

  }
  &--invert {
    @apply text-brand-blue;
    background-image: linear-gradient(12deg, rgba(#FFF, 50%), rgba(#FFF, 100%) 50%, rgba(#FFF, 50%));
  }
  &:hover, &:focus {
    @apply text-white no-underline;
    background-image: linear-gradient(12deg, rgba(#262626, 50%), rgba(#262626, 100%) 50%, rgba(#262626, 50%));
  }
}

.links {
  list-style: none;
  @apply flex flex-col my-4 pl-0 items-center justify-center;
  &--large {
    @apply text-3xl;
  }
  &--inline {
    @apply mx-4 inline-block;
  }
  &__item {
    display: inline-block;
  }
  @screen sm {
    &--horizontal {
        @apply flex-row;
    }
  }
  .links--horizontal &__item {
    & + .links__item::before {
      // @screen sm {
        @apply mx-2;
        content: '\2022';
      // }
    }
    a {
      @apply no-underline;
      color: inherit;
      &:hover, &:focus {
        @apply underline;
      }
    }
  }
}

.section {
  @include angle-edge($angle: 9.5, $angle-position-y: 'both', $angle-position-x: 'left', $angle-position-bottom-x: 'right');
  margin: {
    top: -#{convertDegToVW(10)}vw;
    bottom: -#{convertDegToVW(10)}vw;
  }
}

.section--portfolio {
  padding: #{convertDegToVW(10)}vw 0;
}

.section--contact {
  @apply bg-brand-blue text-white text-center pb-4;
  padding: #{convertDegToVW(10) / 1.25}vw 0;
}

.contentinfo {
  @apply bg-brand-black text-white text-center pb-2;
  margin-top: -#{convertDegToVW(10)}vw;
  padding-top: #{convertDegToVW(10) / 1.15}vw;
  @include angle-edge($angle: 9.5, $angle-position-y: 'top', $angle-position-x: 'left', $angle-position-bottom-x: 'right');
  .container {
    // transform: rotate(-12deg);
    transform-origin: top left;
  }
}

.rabu {
  display: inline-block;
  white-space: normal;
  overflow: hidden;
  text-indent: -100%;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  mask-size: 1rem;
  mask-position: center left;
  mask-repeat: no-repeat;
  mask-image: url('../images/heart-solid.svg');
  background-color: adjust-hue(#00A4D4, 190deg);
  filter: hue-rotate(0);
  &:hover {
    animation: rabu-fx 2s;
  }
}

@keyframes rabu-fx {
  //
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: scale3d(1, 1, 1);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    transform: scale3d(1, 1, 1);
    filter: hue-rotate(360deg);
  }
}
