@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');
@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import 'angled-edges';

body {
  font-family: 'Assistant', sans-serif;
  @apply text-brand-black;
}

.hero {
  @apply bg-brand-blue text-white text-center;
  padding: 5% 0 10%;
  @include angle-edge($angle: 10, $angle-position-y: 'bottom', $angle-position-x: 'right', $angle-position-bottom-x: 'left');
  &__content {
    display: block;
    width: 100%;
    height: auto;
  }
  &__logowrap {
    margin: 0 auto;
    width: 75vw;
    position: relative;
  }
}

.section--welcome {
  @apply text-center;
}

.welcome-text {
  font-weight: normal;
}

.resume-download {
  @apply my-8 inline-block no-underline bg-brand-blue text-white font-bold py-2 px-4 rounded;
  &:hover, &:focus {
    @apply bg-brand-black;
  }
}

.section--contact {
  @apply bg-brand-blue text-white text-center pb-4;
  padding-top: 15%;
  @include angle-edge($angle: 10, $angle-position-y: 'top', $angle-position-x: 'left', $angle-position-bottom-x: 'right');
}

.links {
  list-style: none;
  @apply flex flex-col my-4 pl-0 items-center justify-center;
  &--large {
    @apply text-3xl;
  }
  &--inline {
    @apply mx-4 inline-block;
  }
  &__item {
    display: inline-block;
  }
  @screen sm {
    &--horizontal {
        @apply flex-row;
    }
  }
  .links--horizontal &__item {
    & + .links__item::before {
      // @screen sm {
        @apply mx-2;
        content: '\2022';
      // }
    }
    a {
      @apply no-underline;
      color: inherit;
      &:hover, &:focus {
        @apply underline;
      }
    }
  }
}

.rabu {
  display: inline-block;
  white-space: normal;
  overflow: hidden;
  text-indent: -100%;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  background-color: #ed2062;
  mask-size: 1rem;
  mask-position: center left;
  mask-repeat: no-repeat;
  mask-image: url('../images/heart-solid.svg');
}
